doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    style
      include css/resume.css
    title Resume: Alexander Tihonruk
  body
    div.h-card
      div.p-name Alexander Tihonruk
      div
        span.p-locality Kyiv
        | ,
        span.p-country-name Ukraine
      div.p-tel +380 957170033
      div
        a.u-email(href="mailto:a.tihonruk@gmail.com") a.tihonruk@gmail.com
    table(cellspacing="16px")
      tr(valign="top")
        td(colspan="2")
          section Employment and Professional Activities

        mixin job(period, employer, where, title)
          tr(valign="top")
            td.period= period
            td.job
              span.employer= employer
              a.where(href=where)= where
              div.title= title
              block
        +job("2017 - present", "Ocean.io", "https://ocean.io/", "Senior Python developer/team lead")
          p.
            Platform for collection and aggregation of the business data worldwide.<br/>
            Lead of the data collection team. Development of the scheduling system for large-scale crawls.<br/>
            Main technologies: Python 3.6, Elasticsearch, MongoDB, Celery, asyncio/aiohttp.
        +job("2016 - 2017", "Sportech LLC", "http://sporte.ch/", "Senior Python developer/team lead")
          p.
            SaaS platform for web automation.<br/>
            Technologies: Python, Selenium, Scrapy, Redis, MySQL, MongoDB, Elasticsearch, Django.
        +job("2016 - ongoing", "Web Academy", "http://web-academy.com.ua", "Trainer")
          p.
            Python/Django course.
        +job("2014 - 2016", "kvartirkov.com", "https://kvartirkov.com", "Lead developer")
          p.
            Web-development. Complete reimplementation of apartment rentals web-site.<br/>
            Technologies: Python, Django, MySQL/PostgreSQL, Redis.

        +job("2013 - 2014", "IBS Ltd.", "", "Lead developer")
          p.
            Design and development of the internet banking system.<br/>
            Back end - Tomcat, Spring, Hibernate, Apache Camel.<br/>
            Front end - Ember.js, Bootstrap.<br/>

        +job("2012 - 2013", "ArtOfBytes UG", "", "Software developer")
          p.
            Java/Android developer in a company specializing in mobile games and applications development.<br/>
            Projects:
          p. 
            MMO game. Development, deployment and operation of back-end for MMO game. Integration with third-party services (payments, geo-location, etc) and social networks.<br/>
            Technologies used: SmartfoxServer 2X, Spring framework, MySQL, MyBatis, Redis, Elasticsearch, Amazon AWS.<br/>
          p Plugins (Android/Unity3D):
          ul
            li <a href="http://u3d.as/content/art-of-bytes/android-media-browser/3EP">Android Media Browser</a> - easy way to access media content on Android devices
            li <a href="http://u3d.as/content/art-of-bytes/google-play-game-services-plugin/4L1">Google Play Game Services Plugin<a> - developer friendly wrapper for Google Play Games services
            li <a nhref="http://u3d.as/content/art-of-bytes/weather-report-plugin/7bd">Weather Report</a> - real-time weather data from <a href="http://www.wunderground.com/">wunderground.com</a>
            li <a href="http://www.t-store.com.kr/">T-Store</a> in-app purchases plugin

        +job("2006 - 2011", "MTS Ukraine", "http://www.mts.ua/", "Systems analyst, billing platform development department")
          p Ukrainian branch of “Mobile TeleSystems” (NYSE: MBT), operator of cellular communication with more than 18+ millions of subscribers.
          p Responsibilities:
          ul
            li participation in projects as an analyst and/or technical project manager
            li requirements gathering and analysis
            li analysis and resolving of incidents
            li technical writing
            li software development
          p Most significant completed projects:
          ul
            li
              a(href="http://www.mts.ua/ua/services/upravlenie-schetom/zakonchilis-dengi/perevod-deneg") Money Transfer service implementation
            li
              a(href="http://www.mts.ua/ua/support/faq/67-registraciya-mts/") prepaid subscribers personal data collection
            li campaign management system for prepaid market
            li integration of USSD platform and billing system
            li GPRS online charging implementation
            li
              a(href="http://www.mts.ua/ru/services/poleznye-servisy/golosovye-uslugi/antiopredelitel-nomera") CLIR (Calling Line Identification Restriction) paid service
            li implementation of migration between postpaid and prepaid
            li simcard reuse automation
            li implementation of <a href="http://goodok.mts.ua/about">RingBackTone service</a> (known as Good'OK)
            li migration of 20m prepaid subscribers between billing platforms
            li design and development of IS for managing information about geographical organization of cellular network
        +job("2000 - 2005", "Active 97 Ltd", "http://active.kiev.ua", "Data analyst/software developer")
          p Data analyst/developer in a company specializing in market research of domestic FMCG market.
          p Responsibilities:
          ul
            li requirements gathering and analysis
            li software development
            li data warehouses design and development
            li ETL tasks
            li interaction with key customers
          p Completed projects: reporting automation, billing automation, website integration.
          p Main technologies: Oracle technology stack, J2EE.

      tr(valign="top")
        td(colspan="2")
          section Competences
      tr(valign="top")
        td &#xA0;
        td.competences
          p
           |Key competences: software development, project management, interviewing, mentoring, teaching, technical writing, requirements analysis, systems analysis, negotiation, troubleshooting
          dl
            dt Programming languages and platforms:
            dd Python (2/3, including latest 3.6+)
            dd Java (Java SE, Android SDK)
            dd SQL, Oracle PL/SQL
            dd UNIX small languages - sed, awk, shell scripting
            dd C (C99, GNU toolchain - gcc, make, etc)
            dd Clojure
            dd Javascript (ES5, ES6)

            dt DBMS:
            dd Oracle, PostgreSQL, MySQL

            dt Non relational data storages and search engines:
            dd Redis, Elasticsearch, MongoDB

            dt Operating systems:
            dd Linux, MacOS, *NIX

            dt Common web formats/standards:
            dd HTML5, XSLT/XPath, RelaxNG, W3C Schema, SVG, etc.

            dt Version control systems:
            dd Git, Mercurial, Subversion, CVS

            dt Telecom-specific technologies and activities:
            dd GSM architecture, prepaid service, IN, rating and charging, CDR collection
          dl
            dt Spoken languages:
            dd russian (native)
            dd ukrainian (native)
            dd english (working proficiency)
        //- tr(valign="top")
        //-   td(colspan="2")
        //-     section Personal
        //- tr(valign="top")
        //-   td(colspan="2")
        //-     p Born November 14, 1979 in Kyiv.
