doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    style
      include css/resume.css
    title Resume: Oleksandr Tykhonruk
  body
    div.h-card
      h1.p-name Oleksandr Tykhonruk
      h2.p-role Software engineer, Lead, Trainer.
      div
        // span.p-locality Kyiv
        // | ,
        // span.p-country-name Ukraine
        // div.p-tel +380 957170033
        div.u-email a.tihonruk@gmail.com
        div
          a.u-url(href="https://www.linkedin.com/in/otykhonruk/") LinkedIn
          | &nbsp;&bull;&nbsp;
          a.u-url(href="https://github.com/otykhonruk") GitHub

    table(cellspacing="16px")
     tbody
      tr(valign="top")
        td(colspan="2")
          section Key competences
      tr(valign="top")
        td(colspan="2").competences
          p.
            Software architecture, software development, team management, project management, mentoring, teaching, technical writing, systems analysis.

        mixin job(period, duration, employer, where, title)
          tr(valign="top")
            td
              span.period= period
              br
              span.duration= duration
            td.job
              div
                span.title= title
              span.employer= employer
              a.where(href=where)= where
              block

      tr(valign="top")
        td(colspan="2")
          section Employment and Professional Activities
      +job("2022 - present", "9 mos", "SkyFi", "https://www.skyfi.com/", "Staff software engineer")
        p.
          
        dl
          dt Role
          dd Staff Software Engineer in Backend team.

          dt Projects
          dd Satellite imagery processing pipeline.

          dt Key technologies
          dd Python, GCP (Google Cloud Platform).

      +job("2019 - 2021", "2 yrs 6 mos", "Takeoff Technologies Inc", "https://www.takeoff.com/", "Technical Lead")
        p.
          Order fullfillment automation in grocery retail.
        dl
          dt Role
          dd Technical Lead of the team responsible for Inventory and Inbound operations.

          dt Projects
          dd Inbound service implementaion
          dd Web-based decanting UI reimplementation
          dd Cycle-counting implementation

          dt Key technologies
          dd Clojure, Python, Kotlin, TypeScript, Kubernetes, GCP (Google Cloud Platform).

      +job("2018 - 2019", "1 yr", "Wargaming", "https://wargaming.net/", "Senior Python developer")
        p.
          MMO game with 160M of registered users and more than a million of concurrent players.
        dl
          dt Role
          dd Senior Python developer, "World of Tanks" development department.
          dt Projects
          dd 
            a(href="https://worldoftanks.eu/en/news/general-news/the-dark-front-halloween-mode/") Dark Front
            |, a mode for the World of Tanks game.
          dd Internal tool for in-game content creation that streamlines prototyping and development of new game modes.
          dt Key technologies
          dd Python, ActionScript 3, proprietary BigWorld engine (C++/Python).

      +job("2017 - 2018", "8 mos", "Ocean.io", "https://ocean.io/", "Team Lead")
        p.
          Platform for collection and aggregation of the business data worldwide.
        dl
          dt Role
          dd Lead of the data collection team.
          dt Project
          dd Scheduling system for large-scale crawls (around 100k domains/week).
          dt Key technologies
          dd Python, Celery, asyncio/aiohttp, Elasticsearch, MongoDB, Amazon AWS.

      +job("2016 - 2017", "6 mos", "Sportech LLC", "http://sporte.ch/", "Team Lead")
        p.
          Betting SaaS solution. 
        dl
          dt Role
          dd Lead developer/team lead.
          dt Projects
          dd Data collection, automation of the bet placement, analytics.
          dt Key technologies
          dd Python, Selenium, Scrapy, Redis, MySQL, MongoDB, Elasticsearch, Django.

      +job("2014 - 2016", "2 yrs 3 mos", "kvartirkov.com", "https://kvartirkov.com", "Lead developer")
        dl
          dt Role
          dd Lead developer
          dt Project
          dd Complete reimplementation of the apartment rentals web-site.
          dt Key technologies
          dd Django, MySQL, PostgreSQL, Redis.

      +job("2013 - 2014", "7 mos", "IBS Ltd.", "", "Lead developer")
        dl
          dt Role
          dd Lead developer
          dt Project
          dd Design and development of the internet banking system for the ukrainian bank.
          dt Key technologies
          dd Spring, Hibernate, Apache Camel, Ember.js
      +job("2012 - 2013", "1 yr 1 mo", "ArtOfBytes UG", "", "Software engineer")
        dl
          dt Role
          dd Java/Android developer in a small indie gamedev company specializing in mobile game development.
          dt Projects
          dd Development, deployment and operation of the back-end for MMO game.
          dd Integration with third-party services (payments, geo-location, etc) and social networks.
          dd Android Media Browser - easy way to access media content on Android devices
          dd Google Play Game Services Plugin - developer friendly wrapper for Google Play Games services
          dd Weather Report - real-time weather data
          dd T-Store in-app purchases plugin
          dt Key technologies
          dd Spring framework, SmartfoxServer 2X, MySQL, Redis, Elasticsearch, Amazon AWS, Unity 3D, Android

      +job("2006 - 2011", "5 yrs 5 mos", "Ukrainian Mobile Communications, UMC (now Vodafone Ukraine)", "https://www.vodafone.ua/", "Systems analyst")
        p Second largest mobile operator with more than 20M of subscribers.
        dl
          dt Role
          dd Systems analyst at the Billing Platform Development department.
          dt Responsibilities
          dd participation in projects as an analyst and/or technical project manager
          dd requirements gathering and analysis
          dd analysis and resolving of incidents
          dd technical writing
          dd software development
          dt Most significant completed projects
          dd Money Transfer service implementation
          dd Prepaid subscribers personal data collection
          dd Campaign management system for prepaid market
          dd Integration of USSD platform and billing system
          dd GPRS online charging implementation
          dd CLIR (Calling Line Identification Restriction) paid service
          dd Implementation of migration between postpaid and prepaid
          dd Simcard reuse automation
          dd Implementation of RingBackTone service (known as Good'OK)
          dd Migration of 20m prepaid subscribers to the new billing platform
          dd Design and development of IS for managing information about the cellular network coverage

      +job("2000 - 2005", "4 yrs 7 mos", "Active 97 Ltd", "http://active.kiev.ua", "Data analyst")
        dl
          dt Role
          dd Data analyst/software engineer in a company specializing in market research of domestic FMCG market.
          dt Responsibilities
          dd requirements gathering and analysis
          dd software development
          dd data warehouses design and development
          dd ETL tasks
          dd interaction with key customers
          dt Projects
          dd reporting automation, billing automation, website integration.
          dt Key technologies
          dd Oracle technology stack, Java, Python
      tr(valign="top")
        td(colspan="2")
          section Teaching
      +job("2022", "2 mos", "Capgemini", "https://www.capgemini.com/", "Trainer")
        p.
          Corporate internship.
      +job("2022", "2 mos", "robot dreams", "https://robotdreams.cc/", "Trainer")
        p.
          Corporate training.
      +job("2021", "2 mos", "robot dreams", "https://robotdreams.cc/", "Trainer")
        p
          a(href="https://robotdreams.cc/uk/course/python-dlya-razrabotki-i-analiza-dannyh") Python course
      +job("2021 - 2022", "9 mos", "Hillel", "https://ithillel.ua", "Trainer")
        p.
          Advanced Python course.
      +job("2018 - 2019", "1 yr", "ITEA", "https://itea.ua", "Trainer")
        p
          a(href="https://itea.ua/courses-itea/python/python-advanced/") Advanced Python course
      +job("2016 - 2018", "2 yrs 6 mos", "Web Academy", "http://web-academy.com.ua", "Trainer")
        p.
          Python/Django courses.
      tr(valign="top")
        td(colspan="2")
          section Technical skills
      tr(valign="top")
        td(colspan="2").competences
          dl
            dt Programming languages and platforms:
            dd Python
            dd Clojure
            dd Kotlin
            dd Java
            dd SQL, procedural SQL (Oracle, PostgreSQL)
            dd UNIX utilities and languages - sed, awk, shell, etc.
            dd C (C99, GNU toolchain - gcc, make, etc)
            dd Javascript family: ES6, TypeScript
            
            dt DBMS:
            dd Oracle, PostgreSQL, MySQL
            
            dt Non relational data storages and search engines:
            dd Redis, Elasticsearch, CouchDB, MongoDB
            
            dt Operating systems:
            dd Linux, MacOS, *NIX
            
            dt Virtualization:
            dd Docker, Kubernetes
          
            dt Cloud:
            dd AWS, GCP

      tr(valign="top")
        td(colspan="2")
          section Spoken languages
      tr(valign="top")
        td(colspan="2").competences
          ul
            li ukrainian (native)
            li english (professional working proficiency)
